*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  color:#808080;
}

.main-visual{
  height: 400px;
  width: 100%;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.headline{
  padding:20px ;
}

main{
  width:840px;
  margin:50px auto;
}

.webcamp{
  padding-bottom: 30px;
  border-bottom:1px solid #d1d1d1;
}

.webcamp-pro{
  padding-top:30px;
  border-bottom:1px solid #d1d1d1;
  padding-bottom: 30px;
}

.webcamp-woman{
  padding-top:30px;
  border-bottom:1px solid #d1d1d1;
  padding-bottom: 30px;
}

.webcamp-career{
  padding-top:30px;
  border-bottom:1px solid #d1d1d1;
  padding-bottom: 30px;
}